<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cdac.diot.sps">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UserAccountDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme">

            <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserParkingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".UserParkingBookActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".UserActivity2"></activity>
    </application>

</manifest>